
#logo{
  float: right;
  width: 6em;
  height: 5em;
  margin-right: 1em;
}
header{
margin-top: -0.5em;

}


.iconoB{
position: relative;
margin-top:25% ;
margin-left: 25%;
    width:2em;
    height:2em;
    
}
.boton1{
    width:4em;
    height:4em;
    background-color:beige ;
    float:left;
    margin-right: 2.1em;
    margin-left: 2.1em;
    border-end-start-radius: 3em;
    border-end-end-radius: 3em;
    border-start-start-radius: 3em;
    border-start-end-radius: 3em;
    
}
.boton1 h1{
content: "";
content-visibility: hidden;

}
.boton1 h3  {
    content: "";
    content-visibility: hidden;
    
}

.boton1:hover{
width:15em;

}
.boton1:hover h1{
    float: right;
    padding-right: 2em;
    content-visibility:visible ;
}
.boton1:hover h3{
    float: right;
 
    content-visibility:visible ;
}
.boton1:hover .iconoB{

    margin-top:5% ;
    margin-left: 10%;

}
/* Cabecera contact */
.boton2{
  width:4em;
  height:4em;
  background-color:rgb(126, 243, 243) ;
  float:left;
  margin-right: 2.1em;
  margin-left: 2.1em;
  border-end-start-radius: 3em;
  border-end-end-radius: 3em;
  border-start-start-radius: 3em;
  border-start-end-radius: 3em;
  
}
.boton2 h1{
content: "";
content-visibility: hidden;

}
.boton2 h3  {
  content: "";
  content-visibility: hidden;
  
}
.div1{
  position: fixed;
left: 0;
width:100%;
height:fit-content;
animation: slide2 2s linear ;
background-color: #567189ef;
border: solid ;
border-width: 1px;
border-end-start-radius: 3em;
border-end-end-radius: 3em;
}
#Busqueda{
 background-color: #7B8FA1;
  margin-top: 1em;
  width: 15em;
  height: 2em;
  
}

.boton2:hover{
width:15em;

}
.boton2:hover h1{
  float: right;
  padding-right: 2em;
  content-visibility:visible ;
}
.boton2:hover h3{
  float: right;

  content-visibility:visible ;
}
.boton2:hover .iconoB{

  margin-top:5% ;
  margin-left: 10%;

}


/*FONDO*/
.fondoF{

    /*(-60deg, rgb(204, 51, 51) 50%, rgb(249, 72, 72) 50%)*/
    z-index: -10;
  background-image:-webkit-linear-gradient(-60deg, #CFB997, rgb(253, 219, 167));
  animation:linearGradient 10s linear infinite alternate;
  animation-direction:alternate-reverse;
  animation-duration: 10s;
  bottom:0;
  left:-100%;
  position:fixed;
  right:-100%;
  top:0;
  
  }

.fondo {
    position: fixed;
    z-index: -1;
    width:max-content ;
      }

    
    /*ANIMACIONES */

      
      @keyframes linearGradient {
        0% {
    
          transform: translateX(30%);
          
         
        }
        100% {
          transform: translateX(-30%);
         
         
        
        }
      }
      @keyframes slide1 {
        0% {
    
         margin-left: -20%;
         
         
        }
        100% {
        
          margin-left: 0%;
          
        
        }
      }
      @keyframes slide2 {
        0% {
    
         margin-top: -20em;
         
         
        }
        100% {
        
          margin-top: 0em;
          
        
        }
      }
      @keyframes slide3 {
        0% {
    
        
         opacity: 0%;
         
        }
        100% {
        
          
          opacity: 100%;
        
        }
      }
      /* BODY Inicio */
      .titjue{
margin-left: 4em;
margin-top: -2em;
      }
    .etiquetas .plat .plati {
      float: left;
      width: 4em;
      height: 4em;
      margin-right: 1em;
      
    }
      .plat{
        float: right;
       margin-left: 3px;
       margin-top: -1.5em;
        width: 5em;
        height: 5em;
        border-radius:50% ;
        background-color: #454e57;
      }
     .plat:hover{
      background-color: cyan;
     }
     .plat:focus-within{
      background-color: cyan;
     }
      
      .seceti{
        float: left;
        padding-top: 10em;
        padding-left: 10%;
       
      }
            
      body .seceti .etiquetas{
        float: left;
       
        animation:slide1 5s  alternate;
        width:fit-content;
        margin-left: 0em;
        margin-top: 1em;
        height:fit-content;
        background-color: #7B8FA1;
        border: 5px #454e57;
        border-style: double;
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
      }
      .etiquetas img{
        float: left;
        border-end-start-radius:  3em;
        border-start-start-radius:   2.7em;
        border-start-end-radius: 2.7em;
        border-end-end-radius: 3em;
       margin-left: 0;
        width:20em ;
        height:20em;
      }
      .etiquetas h2{
        width: 13em;
        margin-left: 10px;
        
        float: left;
       font-weight: bold;
        margin-top: 1em;
        
      }
      .etiquetas p2{
        float: right;
       font-weight: bold;
     width: 13em;
    
     margin-top: 2em;
      }
      .etiquetas h3{
        float: left;
        font-weight: bold;
      width: 22em;
   
       
      }
      .etiqueta2content{
        float: right;
        width: 50em;
      }
      body .seceti .etiquetas2{
        float: left;
       
        
        width:20em;
        margin-left: 2.5em;
        margin-top: 1em;
        height:fit-content;
        background-color: #7B8FA1;
        border: 5px #454e57;
        border-style: double;
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
      }
      .etiquetas2 img{
        float: left;
        border-end-start-radius:  3em;
        border-start-start-radius:   2.7em;
        border-start-end-radius: 2.7em;
        border-end-end-radius: 3em;
       margin-left: 0;
        width:20em ;
        height:20em;
      }
      .etiquetas2 h2{
        width: 13em;
        margin-left: 10px;
        
        float: left;
       font-weight: bold;
        margin-top: 1em;
        
      }
      .etiquetas2 a{
float: left;
margin-left: 8em;

      }
      
      .textodjue{
        float: right;
        margin-top: 1em;
        
      }
      .textonot{
        float: left;
        margin-left: 10px;
         margin-top: 2em;
         height: 50% ;
      }
      .etiquetas2 h3{
        float: left;
        font-weight: bold;
      width: 22em;
   margin-left: 28em;
      margin-top: 10em; 
      }
      #titbody1{
        
        margin-left: 40%;
        text-decoration: underline;
      }
      #titbody2{
        animation: slide3 2s linear;
        margin-left: 32%;
        text-decoration: underline;
      }
      #tarjeta{
        float: left;
        animation: slide3 2s linear;
        background-color: #FAD6A5;
        width:50em ;
        height:70em ;
        margin-left: 10em;
        border: 5px #b09d80;
        border-style: groove;

        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
       
    }
    .txt1{
        float: left;
        margin-left: 2em;
        margin-top: 2em;
        width: 50%;
    }
    .txt2{
        float: left;
        margin-left: 40%;
        margin-top: 2em;
        width: 100%;
    }
    .Enviar{
        float: left;
        margin-left:40%;
        margin-top: 2em;
        width: 10em;
        height: 5em;
    }
    .footer{

        background-color: rgba(0, 0, 0, 0.549);
        width:93em;
        margin-left: -1em;
      
     
        height: 21em;
        float: left;
        margin-top: 5em;
      
    }
    ul{
      float: left;
     margin-left: 10em;
      padding-top: 5%;
    }
    li{
      list-style: none;
      margin-top: 1em;
      font: 1em sans-serif;
      color: rgb(255, 255, 255);
    }
   

    li #img1{
      width: 3.5em;
      margin-bottom: 1em;
      height: 2em;
      float: left;
      margin-left: -0.5em;
    }
    li #img2{
      width: 2em;
      margin-bottom: 1em;
      float: left;
      height: 2em;
    }
    .seceti2{
      float: left;
      padding-top: 10em;
      padding-left: 5em; 
    }
    .etiRebajas{
      float: left;
      margin-left: 1em;
     margin-bottom: 1.5em;
      border-end-start-radius:3em ;
      border-start-start-radius:3em ;
      border-end-end-radius:3em ;
      border-start-end-radius:3em ;
      border: 1px solid #000;
      width: fit-content;
      height: fit-content;
      
    }
    .etiRebajas img{
      width: 25em;
      height: 15em;
      border-end-start-radius:3em ;
      border-start-start-radius:3em ;
      border-end-end-radius:3em ;
      border-start-end-radius:3em ;
    }
    .etiRebajas img:hover{
      margin-top: 0em;
      animation: etiRebajas 1s ;
      animation-fill-mode:forwards;
     
      animation: slide3 1s reverse;
      animation-fill-mode:forwards;
    }
    /*class="imgReb"*/
    .etiRebajas:hover{
      
      animation: etiRebajas 1s linear;
      animation-fill-mode:forwards;
     
    }
    @keyframes etiRebajas {
      0% {
        margin-top: 0em;
        width: 25em;
      height: 15em;
       
      }
      100% {
        margin-top: -1em;
        
        width: 26em;
      height: 16em;
      
      }
    }
   
   
