/*ANIMACION FONDO*/
html{
  background-color: black;
}
      /*NAVEGACIÓN*/
      .nav1{
        background-color: rgba(137, 43, 226, 0.675);
        position: fixed;
        display: block;
        
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
        top: 5em;
        left: 3em;
        width: 5em;
        height: 31em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
        float: left;
        
      }
      .nav2{
        background-color: rgba(137, 43, 226, 0);
       
        position: fixed;
        margin-top: 2em;
        display: block;
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
        top: 5em;
        left: 3em;
        width: 5em;
        height: 30em;
       
      }
      .boton1{
        cursor:move text("hola");
        background-color: rgba(137, 43, 226, 1);
       margin-top: 10px;
       margin-left: 5px;
        border-radius: 50%;
        opacity: 50%;
        top: 5em;
        left: 20px;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
      }
      .boton2{
        
        background-color: rgba(137, 43, 226, 1);
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 50%;
        opacity: 50%;
        top: 10em;
        left: 3em;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
      
       
      }
      .boton3{
        background-color: rgba(137, 43, 226, 1);
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 50%;
        opacity: 50%;
        top: 5em;
        left: 3em;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
        
       
      }
      .boton4{
        background-color: rgba(137, 43, 226, 1);
      
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 5px;
        opacity: 50%;
        top: 5em;
        left: 3em;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
      
       
      }
      .boton5{
        background-color: rgba(137, 43, 226, 1);
      
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 5px;
        opacity: 50%;
        top: 5em;
        left: 3em;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
      
       
      }
      .boton6{
        background-color: rgba(137, 43, 226, 1);
      
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 5px;
        opacity: 50%;
        top: 5em;
        left: 3em;
        width: 4em;
        height: 4em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
      
       
      }
      
      
      
      
      
      
      
      
      .t{
        background-color: rgba(137, 43, 226, 0.675);
       
        display: block;
        
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
        margin-left: 5em;
        margin-top: 5em;
        width: 30em;
        height: 20em;
        border-color:rgb(137, 43, 226) ;
        border-width:3px ;
        border-style:groove;
        float: left;
        }
      .don{
      margin-left: 10em;
      margin-top: 3em;
      
      
      }
      



/*RESTO DE LA PAGINA*/ 







