header{
margin-top: -0.5em;

}

footer{
    background-color: saddlebrown;
}
.iconoB{
position: relative;
margin-top:25% ;
margin-left: 25%;
    width:2em;
    height:2em;
    
}
.boton1{
    width:4em;
    height:4em;
    background-color:beige ;
    float:left;
    margin-right: 2.1em;
    margin-left: 2.1em;
    border-end-start-radius: 3em;
    border-end-end-radius: 3em;
    border-start-start-radius: 3em;
    border-start-end-radius: 3em;
    
}
.boton1 h1{
content: "";
content-visibility: hidden;

}
.boton1 h3  {
    content: "";
    content-visibility: hidden;
    
}
.div1{
    position: fixed;

width:fit-content;
height:fit-content;
margin-left: 25%;
background-color: rgba(51, 51, 51, 0.675);
border: solid ;
border-width: 1px;
border-end-start-radius: 3em;
border-end-end-radius: 3em;
}
.boton1:hover{
width:15em;

}
.boton1:hover h1{
    float: right;
    padding-right: 2em;
    content-visibility:visible ;
}
.boton1:hover h3{
    float: right;
 
    content-visibility:visible ;
}
.boton1:hover .iconoB{

    margin-top:5% ;
    margin-left: 10%;

}
/*FONDO*/
.fondoF{

    /*(-60deg, rgb(204, 51, 51) 50%, rgb(249, 72, 72) 50%)*/
    z-index: -10;
  background-image:-webkit-linear-gradient(-60deg, rgb(204, 51, 51), rgb(87, 72, 249));
  animation:linearGradient 10s linear infinite alternate;
  animation-direction:alternate-reverse;
  animation-duration: 10s;
  bottom:0;
  left:-100%;
  position:fixed;
  right:-100%;
  top:0;
  
  }

.fondo {
    position: fixed;
    z-index: -1;
    width:max-content ;
      }
      .fondo2 {
        animation:slide2 10s ease-in-out infinite;
      }
      .fondo3 {
        animation:slide3 10s ease-in-out infinite;
    
      }
    .fondo1{
        top: 0;
        z-index: -1;
        animation:slide 10s ease-in-out infinite;
    float:left;
        background-color: rgb(67, 67, 67);
        opacity:0.5;
      margin-left: 20px;
      margin-right: 20px;
        width:20em ;
        height:20em ;
        border-radius: 50%;   
    }
      .anima1 {
      
        animation-direction:initial;
        animation-duration:25s;
      }
      
      .anima2 {
        
        animation-direction:initial;
        animation-duration: 30s;
      }
      .anima3 {
     
        animation-direction:initial;
        animation-duration: 20s;
      }
      .anima4 {
    
        animation-direction:initial;
        animation-duration:10s;
      }
      .anima5 {
    
        animation-direction:initial;
        animation-duration: 15s;
      }
    .ref{
        top: 0;
    
    position: fixed;
    z-index: -1;
       float: left;
        background-color: rgb(255, 255, 255);
        opacity:0.5;
      margin-left: 5em;
      margin-right: 5em;
        width:5em ;
        height:5em ;
        border-radius: 50%;  
    
    }
    .ref2{
      position: fixed;
      z-index: -1;
     
        top: 0;
        float: left;
        background-color: rgb(255, 255, 255);
        opacity:0.5;
      margin-left: 3em;
      margin-right: 2em;
        width:10em ;
        height:10em ;
        border-radius: 50%;    
    }
    /*ANIMACIONES */
      @keyframes slide {
        0% {
          transform:translateY(-150%);
        }
        100% {
          transform:translateY(250%);
        }
      }
     
      @keyframes slide2 {
        0% {
          transform:translateY(-200em);
        }
        100% {
          transform:translateY(200em);
        }
      } 
      @keyframes slide3 {
        0% {
          transform:translateY(-50em);
         
        }
        100% {
          transform:translateY(50em);
        
        }
      }
      
      @keyframes slidex {
        0% {
          transform:translateX(-5em);
        
        }
        100% {
          transform:translateX(5em);
        
        }
      }
      
      @keyframes linearGradient {
        0% {
    
          transform: translateX(30%);
          
         
        }
        100% {
          transform: translateX(-30%);
         
         
        
        }
      }
      /* BODY */
      .seceti{
        padding-top: 10%;
        padding-left: 16%;
      }
      body .seceti .etiquetas{
        float: left;
        width:30em;
        margin-top: 2em;
        margin-left: 2em;
        height:20em;
        background-color: rgba(137, 43, 226, 0.675);
        border: solid;
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
      }
