
#logo{
  float: right;
  width: 6em;
  height: 5em;
  margin-right: 1em;
}
header{
margin-top: -0.5em;

}


.iconoB{
position: relative;
margin-top:25% ;
margin-left: 25%;
    width:2em;
    height:2em;
    
}
.boton1{
    width:4em;
    height:4em;
    background-color:beige ;
    float:left;
    margin-right: 2.1em;
    margin-left: 2.1em;
    border-end-start-radius: 3em;
    border-end-end-radius: 3em;
    border-start-start-radius: 3em;
    border-start-end-radius: 3em;
    
}
.boton1 h1{
content: "";
content-visibility: hidden;

}
.boton1 h3  {
    content: "";
    content-visibility: hidden;
    
}

.boton1:hover{
width:15em;

}
.boton1:hover h1{
    float: right;
    padding-right: 2em;
    content-visibility:visible ;
}
.boton1:hover h3{
    float: right;
 
    content-visibility:visible ;
}
.boton1:hover .iconoB{

    margin-top:5% ;
    margin-left: 10%;

}
/* Cabecera contact */
.boton2{
  width:4em;
  height:4em;
  background-color:rgb(126, 243, 243) ;
  float:left;
  margin-right: 2.1em;
  margin-left: 2.1em;
  border-end-start-radius: 3em;
  border-end-end-radius: 3em;
  border-start-start-radius: 3em;
  border-start-end-radius: 3em;
  
}
.boton2 h1{
content: "";
content-visibility: hidden;

}
.boton2 h3  {
  content: "";
  content-visibility: hidden;
  
}
.div1{
  position: fixed;
left: 0;
width:100%;
height:fit-content;

background-color: #567189ef;
border: solid ;
border-width: 1px;
border-end-start-radius: 3em;
border-end-end-radius: 3em;
}
#Busqueda{
 background-color: #7B8FA1;
  margin-top: 1em;
  width: 15em;
  height: 2em;
  
}

.boton2:hover{
width:15em;

}
.boton2:hover h1{
  float: right;
  padding-right: 2em;
  content-visibility:visible ;
}
.boton2:hover h3{
  float: right;

  content-visibility:visible ;
}
.boton2:hover .iconoB{

  margin-top:5% ;
  margin-left: 10%;

}


/*FONDO*/
.fondoF{

    /*(-60deg, rgb(204, 51, 51) 50%, rgb(249, 72, 72) 50%)*/
    z-index: -10;
  background-image:-webkit-linear-gradient(-60deg, #CFB997, rgb(253, 219, 167));
  animation:linearGradient 10s linear infinite alternate;
  animation-direction:alternate-reverse;
  animation-duration: 10s;
  bottom:0;
  left:-100%;
  position:fixed;
  right:-100%;
  top:0;
  
  }

.fondo {
    position: fixed;
    z-index: -1;
    width:max-content ;
      }

    
    /*ANIMACIONES */

      
      @keyframes linearGradient {
        0% {
    
          transform: translateX(30%);
          
         
        }
        100% {
          transform: translateX(-30%);
         
         
        
        }
      }
      /* BODY Inicio */
      .titjue{
margin-left: 4em;
margin-top: -2em;
      }
     
      .plat{
        float: right;
       margin-right: 10px;
        width: 1em;
        height: 1em;
        border-radius:50% ;
        background-color: #454e57;
      }
      .plat img{
        width: 5px;
        height:  5px;
      }
      .titjuel{
        margin-left: 2em;
        margin-top: -2em;
              }
      .seceti{
        padding-top: 10%;
        padding-left: 16%;
      }
      body .seceti .etiquetas{
        float: left;
        width:20em;
        margin-top: 3em;
        margin-left: 2em;
        height:fit-content;
        background-color: #7B8FA1;
        border: 5px #454e57;
        border-style: double;
        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
      }
      .etiquetas img{
        float: left;
        border-end-start-radius:  3em;
        border-start-start-radius:   2.7em;
        border-start-end-radius: 2.7em;
        border-end-end-radius: 3em;
       margin-left: 0;
        width:20em ;
        height:20em;
      }
      .etiquetas p1{
        width: 13em;
        margin-left: 3em;
        float: left;
       font-weight: bold;
        margin-top: 2em;
        
      }
      .etiquetas p2{
        float: left;
       font-weight: bold;
     width: 13em;
     margin-left: 3em;
     margin-top: 2em;
      }
      #titbody1{
        margin-left: 40%;
        text-decoration: underline;
      }
      #titbody2{
        margin-left: 32%;
        text-decoration: underline;
      }
      #tarjeta{
        float: left;
        background-color: #FAD6A5;
        width:50em ;
        height:70em ;
        margin-left: 10%;
        border: 5px #b09d80;
        border-style: groove;

        border-start-end-radius: 3em;
        border-start-start-radius: 3em;
        border-end-end-radius: 3em;
        border-end-start-radius: 3em;
       
    }
    .txt1{
        float: left;
        margin-left: 2em;
        margin-top: 2em;
        width: 50%;
    }
    .txt2{
        float: left;
        margin-left: 40%;
        margin-top: 2em;
        width: 100%;
    }
    .Enviar{
        float: left;
        margin-left:40%;
        margin-top: 2em;
        width: 10em;
        height: 5em;
    }
    .footer{
        background-color: rgba(0, 0, 0, 0.549);
        width: 110%;
        margin-left: -5%;
        height: 20em;
        float: left;
        margin-top: 5em;
        border-start-end-radius: 6em;
        border-start-start-radius:6em;
        border-end-end-radius: 6em;
        border-end-start-radius:6em;
    }
    ul{
      float: left;
      padding-left: 25%;
      padding-top: 5%;
    }
    li{
      
      font: 1em sans-serif;
color: rgb(255, 255, 255);
    }